body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: white;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, cursive;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 1rem;
  color: white;
}

.layout {
  display: flex;
  align-items: center;
}

.timer, .errors, .accuracy,
.charactersPerMinute, .wordsPerMinute {
  background-color: #24e9fe;
  height: 80px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  border: 6px solid black;
}

.charactersPerMinute, .wordsPerMinute  {
  display: none;
}

.secondaryHeader {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  font-weight: bold;
}

.currentTime, .currentError,
.speedAccuracy, .currentCharactersPerMinute,
.currentWPM, .currentCPM {
  font-size: 2.75rem;
}

.movieQuote {
  background-color: #24e9fe;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  border-radius: 25px;
  border: 6px solid black;
  font-weight: bold;
}

.inputBox {
  background-color: white;
  height: 80px;
  width: 40%;
  font-family: 'Courier New', Courier, cursive;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
}

.restartButton {
  background-color: #d4af37; /* Hollywood gold */
  color: #1c1c1c; /* Cinematic dark */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Courier New', Courier, cursive;
}

.restartButton:hover {
  background-color: white;
  color: #000;
  transform: scale(1.05);
}



.incorrect {
  color: red;
  text-decoration: underline;
}

.correct {
  color: darkgreen;
}

.jumbotron {
  background-color: #24e9fe;
  padding: 40px 20px;
  border-radius: 20px;
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, cursive;
  border: 10px solid black;
}

.jumbotron h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

.jumbotron p {
  font-size: 1.2rem;
  font-weight: bold;
}

  #auth-controls button {
    background-color: #d4af37; /* Hollywood gold */
    color: #1c1c1c; /* Cinematic dark */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, cursive;
  }

  #auth-controls button:hover {
    background-color: white;
    color: #000;
    transform: scale(1.05);
  }

  #auth-controls {
    text-align: center;
    margin-top: 20px;
  }

